@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Lexend", sans-serif;
}
:root {
  --primary-color: #758543;
  --secondary-color: #ffb768;
  --tertiary-color: #364212;
  --quaternary-color: #9c662d;
  --bg-color: #fff6ed;
  --text-light: #ffdbb4;
  --btn-switch: #3b4b52;
}
body {
  background-color: var(--bg-color);
}
header {
  width: 100%;
  margin-bottom: 4rem;
}

header img {
  width: 100%;
  object-fit: contain;
  height: 89px;
}

.header {
  text-align: center;
  margin-bottom: 10rem;
  padding: 40px 20px;
}
.header h1 {
  font-weight: bold;
}
.content {
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 0px 40px;
}
.content-img {
  width: 100%;
  object-fit: cover;
  height: 375px;
}

.btn-container {
  background: var(--bg-color);
  margin-bottom: 2rem;
  position: relative;
}

.btn-switch-toggle1 {
  position: absolute;
  background: var(--btn-switch);
  width: 5.5rem;
  height: 40%;
  padding: 2rem 2rem 0.7rem 0rem;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  border-radius: 15px;
}

.btn-switch-toggle2 {
  position: absolute;
  background: var(--btn-switch);
  width: 100px;
  height: 30%;
  padding: 2rem 2rem 0.7rem 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
}
.btn-switch-toggle3 {
  position: absolute;
  background: var(--btn-switch);
  width: 145px;
  height: 30%;
  padding: 2rem 2rem 0.7rem 2rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
}

.btn-container .btn-switch {
  z-index: 0;
  color: black;
  border: 0px solid;
  background: #36421200;
}

.newsletter {
  background-color: var(--primary-color);
  color: white;
  margin-bottom: 3rem;
}

.newsletter h4 {
  color: var(--tertiary-color);
}

.newsletter form button {
  border: 0px;
  background: var(--tertiary-color);
  color: var(--bg-color);
}

.btn-calculate-container {
  background: var(--tertiary-color);
  margin-top: 1.6rem;
}

.btn-calculate {
  z-index: 2;
  color: var(--bg-color);
  border: 0px solid;
  background: #36421200;
}
div input.btn-switch {
  z-index: 1;
  width: 100%;
  padding: 0.5rem;
}

.activity-container {
  width: 100%;
}

footer {
  background-color: #fbbc63;
  color: white;
  padding: 20px 10px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  height: 50px;
  gap: 3rem;
}

footer ul li i {
  color: rgb(31, 29, 29);
  font-size: 1.5rem;
}

div.content p {
  font-weight: 400;
  text-align: justify;
  margin-bottom: 3rem;
}
.result-section {
  margin-bottom: 5rem;
}
.result-section ul {
  list-style-type: none;
}

.result-btn {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  padding: 1rem;
  margin: 1rem 0rem;
  background: var(--secondary-color);
  border-radius: 10px;
}

/* .result-btn::after {
  position: absolute;
  content: "";
  background-image: url(../../img/icon/Vector.png);

  object-fit: contain;
  background-repeat: no-repeat;
  bottom: 8px;
  right: 10px;
} */

.bmi-container {
  margin: 50px auto;
  text-align: center;
  max-width: 600px;
}

.bmi-bar {
  position: relative;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #ff5e57 0%,
    #ff5e57 20%,
    /* Underweight */ #0be881 20%,
    #0be881 40%,
    /* Normal */ #ffc312 40%,
    #ffc312 60%,
    /* Overweight */ #ff5e57 60%,
    #ff5e57 100% /* Obese */
  );
}

.bmi-pointer {
  position: absolute;
  top: -10px;
  left: 21%; /* Adjust based on your BMI value (example: 20.4%) */
  width: 10px;
  height: 40px;
  background-color: #2d2d2d;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bmi-value {
  position: absolute;
  top: 30px;
  left: 120px;
  background-color: #3d3d3d;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
.bmi-value::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  top: -5px;
  left: 15px;
  background-color: #3d3d3d;
  color: #fff;
}

.accordion {
  width: 75%;
  border-radius: 0px;
}

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-button:focus {
  background: var(--secondary-color);
}

.border-1 {
  border: 10px solid var(--tertiary-color);
}

.button-choose {
  border: 0px;
  background: var(--primary-color);
  color: var(--bg-color);
  transition: 0.2s all ease-in-out;
}
.button-choose:hover {
  background: var(--tertiary-color);
}
